@font-face {
    font-family: 'Nexa';
    src: url('/assets/fonts/nexa/nexa-webfont.ttf') format('ttf');
}

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('/assets/fonts/josefin-sans/JosefinSans-Regular.ttf') format('ttf');
}

html, body {
    font-family: 'Nexa';
    font-size: 16px; 
    color: $color-Dove-Gray;
}

h2 {
    font-family: 'Nexa'; 
}

li {
    list-style: none;
}

a {
    color: $color-Dove-Gray;
}

.row {
    max-width: 1300px;
}