//Main Font Color
$color-Dove-Gray: #666666;

$color-Alizarin-Crimson: #DA262D;
$color-button-hover: rgb(161, 18, 26);
$color-Dusty-Gray: #999999;
$color-Jelly-Bean: #2B7E93;
$color-White: #FFFFFF;
$color-Saffron-Mango: #FAC455;
$color-Scooter: #3BC1CD;
$color-Alto: #D2D2D2;
$color-Mercury: #E9E9E9;
$color-Abbey: #58595B;
$color-Alto-2: #E0E0E0;
$color-Mercury-2: #E4E4E4;