//Main Font Color
$color-Dove-Gray: #666666;

$color-Alizarin-Crimson: #DA262D;
$color-Dusty-Gray: #999999;
$color-Jelly-Bean: #2B7E93;
$color-White: #FFFFFF;
$color-Saffron-Mango: #FAC455;
$color-Scooter: #3BC1CD;
$color-Alto: #D2D2D2;
$color-Mercury: #E9E9E9;