header {

    margin-bottom: 40px;

    .inline-list > li > * {
        display: inline;
        margin-right: 9px;
    }

    .inline-list > li > i {
        margin-left: 10px;
    }

    .top-nav {

        &__list-items {
            float: right;
        }

        &__login {
            margin-bottom: 22px;
            font-size: 14px;
            line-height: 14px;
            margin-top: 10px;
        }

        &__options {
            margin-right: 10px;
            width: 24px;
            height: 24px;
        }

        &__mobile-only > .row > .columns {
            display: flex;
            justify-content: space-around;
            float: right;
            height: 10px;
        }

        &__mobile-only {
            border-bottom: 1px solid $color-Alto-2;
            height: 40px;
            padding-top: 10px;
        }

        &__mobile-only--logo {
            width: 65px;
            height: 20px;
            margin-bottom: 28px;
        }

        &__mobile-only--second-layer {
            height: 0px;
        }

        &__mobile-only--second-row {
            display: flex;
            justify-content: space-around;
            height: 25px;
            font-size: 16px;
            margin-top: 10px;
        }

        &__mobile-only--second-row > li > img {
            width: 24px;
            height: 24px;
        }

        &__phone-number {
            color: $color-Abbey;
            font-size: 16px;
        }

        &__search--large {
            width: 270px;
            height: 35px;
            text-align: center;
            background-image: url('../img/icons/mast.png');
            background-repeat: no-repeat;
            background-position: left;
            background-color: white;
            background-position-x: 50px;
            background-size: 19px;
            border: 1px solid $color-Alto;
            border-radius: 4px;
        }

        &__search--large::placeholder {
            font-size: 16px;
            height: 16px;
            margin-top: 10px;
            color: $color-Dove-Gray;
        }

        &__search--medium {
            width: 190px;
            height: 31px;
            border: 1px solid $color-Alto;
            border-radius: 4px 0px 0px 4px;
            margin-left: -40px;
        }

        &__search--medium::placeholder {
            font-size: 14px;
            height: 16px;
            padding-left: 16px;
            color: $color-Dove-Gray;
        }

        &__search--magnifying-glass {
            width: 35px;
            height: 35px;
            background-color: $color-Mercury;
            border-radius: 0px 4px 4px 0px;
            padding: 11px;
            font-size: 13px;
            display: inline-block; 
            color: $color-Dusty-Gray;
            margin-left: -4px;
            margin-top: 3px;
        }

        &__second-line {
            margin-bottom: 26px;
        }

        &__third-line {
            margin-bottom: 26px;
            border: 1px solid $color-Alto-2;
            line-height: 58px;
            padding-top: 25px;
        }

        &__third-line--medium > li > img {
            width: 30px;
            height: 30px;
        }

        &__third-line--medium {
            font-size: 20px;
        }

        
        &__third-line--call-now {
            margin-top: -15px;
        }

        &__third-line--phone-line {
            font-size: 20px;
        }

    }//top-nav

    @media screen and (min-width: 1026px) {
        
        .top-nav {

            &__options {
                width: 39px;
                height: 39px;
            }

            &__phone-number {
                font-size: 26px;
            }

        }//top-nav
       
    }//desktop media query
    
    @media screen and (min-width: 642px) and (max-width: 1025px){ 

        .top-nav {
            
            &__options {
                width: 30px;
                height: 30px;
            }

            &__phone-number {
                font-size: 20px;
            }

        }//top-nav
        
    }//tablet media query 
    
}//header