.plan {
    
    &__card {
        border: 1px solid $color-Alto;
        border-radius: 4px;
        padding-top: 40px;
        margin-bottom: 20px;
    }

    &__card--image {
        margin-bottom: 20px;
    } 

    &__card--plan-name {
        margin-bottom: 10px;
    } 

    &__card--price-dollars {
        font-size: 90px;
        display: inline-block;
        font-weight: 600;
        color: $color-Abbey;
        line-height: 90px;
        padding-top: 0px;
        margin-top: -10px;
    }
    
    &__card--price-dollar-sign,
    &__card--price-monthly {
        font-size: 20px;
        display: inline-block;
        font-weight: 600;
        color: $color-Abbey; 
    }

    &__card--price-monthly {
        margin-left: 10px;
    }

    &__card--price-dollar-sign {
        margin-right: -7px;
    }

    &__card--button {
        margin-bottom: 26px;
        width: 270px;
    } 

    &__card--features {
        margin-bottom: 26px;
    } 
    
    &__card--details {
        margin-top: 30px;
        margin-bottom: 12px;
    } 

    &__card--placeholder-image {
        margin-bottom: 30px;
        font-size: 47px;
        color: $color-Mercury-2;
    } 

}