.plan {
    
    margin-bottom: 60px;

    &__card {
        border: 1px solid $color-Alto;
        border-radius: 4px;
        padding-top: 40px;
        margin-bottom: 20px;
    }

    &__card--image {
        margin-bottom: 20px;
    } 

    &__card--plan-name {
        margin-bottom: 10px;
    }

    &__card--price {
        font-weight: 600;
        display: flex;
        justify-content: space-around;
    }

    &__card--price-dollars {
        font-size: 90px;
        display: inline-block;
        font-weight: 600;
        color: $color-Abbey;
        line-height: 90px;
        padding-top: 0px;
        margin-top: -5px;
    }
    
    &__card--price-dollar-sign > p,
    &__card--price-monthly > p {
        font-size: 20px;
        font-weight: 600;
        color: $color-Abbey; 
        margin-bottom: 0px;
    }

    &__card--price-monthly > p {
        margin-bottom: 0px;
    }

    &__card--price-dollar-sign {
        margin-right: -7px;
        display: inline-block;
    }

    &__card--button {
        margin-bottom: 26px;
        max-width: 270px;
    } 

    &__card--features {
        margin-bottom: 26px;
    } 
    
    &__card--details {
        margin-top: 30px;
        margin-bottom: 12px;
    } 

    &__card--placeholder-image {
        margin-bottom: 30px;
        font-size: 47px;
        color: $color-Mercury-2;
    }

    @media screen and (min-width: 1026px) {
        margin-bottom: 100px;
    }
    
    // @media screen and (min-width: 658px) and (max-width: 860px){ 
    //     &__card--price-dollars {
    //         font-size: 60px;
    //         padding-top: -15px;
    //     }

    //     &__card--price-dollar-sign > p,
    //     &__card--price-monthly > p {
    //         font-size: 14px;
    //         margin-left: -20px;
    //     }
    
    // }

}